{% extends 'PackageTaskBundle::base.html.twig' %}

{% block title %}
    {{ 'Tasks'|trans }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <article>
        <a href="{{ path('PackageTaskBundle:Task:Add')}}">{{ 'Add task'|trans }}</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{{ 'Name'|trans }}</th>
                    <th>{{ 'Date'|trans }}</th>
                    <th>{{ 'Action'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for task in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.DateCreated |date('Y-m-d H:i:s') }}</td>
                        <td>
                            <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Task:View', {'id':task.id}) }}">{{ 'View'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </article>
{% endblock %}