{% extends 'PackageTaskBundle::base.html.twig' %}

{% block title %}
    {{ 'Tasks'|trans }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <article>
        <a href="{{ path('PackageTaskBundle:Task:Add') }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Project'|trans({}, 'messages'), 't.project')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Name'|trans({}, 'messages'), 't.name')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Status'|trans({}, 'messages'), 's.name')|raw }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Priority'|trans({}, 'messages'), 'p.name')|raw }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in pagination %}
                <tr>
                    <td>{{ object.project.name }}</td>
                    <td><a href="{{ path('PackageTaskBundle:Task:View', {'taskId':object.id}) }}">{{ object.name }}</a></td>
                    <td>{{ object.status.name }}</td>
                    <td>{{ object.priority.name }}</td>
                    <td>
                        <a class="btn btn-sm"
                           href="{{ path('PackageTaskBundle:Task:Edit', {'id':object.id}) }}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-sm"
                           href="{{ path('PackageTaskBundle:Task:Remove', {'id':object.id}) }}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </article>
{% endblock %}