{% extends 'PackageTaskBundle::base.html.twig' %}

{% block title %}
    {{ 'Tasks'|trans }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                {% if task.labels %}
                    <th>{{ 'Label'|trans }}</th>
                {% endif %}
                <th>{{ 'Action'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.status.name }}</td>
                <td>{{ task.DateCreated|date("m/d/Y") }}</td>
                {% if task.labels %}
                    <td>{{ task.labels.name }}</td>
                {% endif %}
                <td>
                    <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Task:Edit', {'id':task.id}) }}">{{ 'Edit'|trans }}</a>
                    <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Task:Remove', {'id':task.id}) }}">{{ 'Remove'|trans }}</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}