{% extends 'PackageTaskBundle::base.html.twig' %}

{% block title %}
    {{ 'Labels'|trans }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <article>
        <a href="{{ path('PackageTaskBundle:Labels:Add')}}">{{ 'Add Label'|trans }}</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for labels in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ labels.id }}</td>
                    <td>{{ labels.name }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Labels:Edit', {'id':labels.id}) }}">{{ 'Edit'|trans }}</a>
                        <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Labels:Remove', {'id':labels.id}) }}">{{ 'Remove'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}