{% extends 'PackageTaskBundle::base.html.twig' %}

{% block title %}
    {{ 'Statuses'|trans }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <article>
        <a href="{{ path('PackageTaskBundle:Status:Add')}}">{{ 'Add status'|trans }}</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for status in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ status.id }}</td>
                    <td>{{ status.name }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Status:Edit', {'id':status.id}) }}">{{ 'Edit'|trans }}</a>
                        {% if status.getTasks.count == 0 %}
                            <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Status:Remove', {'id':status.id}) }}">{{ 'Delete'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}