{% extends 'PackageTaskBundle::base.html.twig' %}

{% block title %}
    {{ 'Priorities'|trans }}
{% endblock %}
{% block body %}
    {{ parent() }}
    <article>
        <a href="{{ path('PackageTaskBundle:Priorities:Add')}}">{{ 'Add priority'|trans }}</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for priorities in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>{{ priorities.id }}</td>
                    <td>{{ priorities.name }}</td>
                    <td>
                        <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Priorities:Edit', {'id':priorities.id}) }}">{{ 'Edit'|trans }}</a>
                        <a class="btn btn-sm" href="{{ path('PackageTaskBundle:Priorities:Remove', {'id':priorities.id}) }}">{{ 'Remove'|trans }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}